# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/nw_*/*
/nw_*/!package.json
/__MACOSX

# production
/build
/cache
build*.zip
/dist
/src/**/*.css
nw-assets/
# misc
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
