/*存放公共的样式以及模块函数*/
$logoDeepColor: #1188F6; //logo主色
$logoLightColor: #1188F6; //logo辅色
$mainColor: #1188F6;//主色调
$splitLineColor: #dddddd; //分割线颜色
$grayColor: #666666; //深灰色
$lightGrayColor: #999999; //浅灰色
$deepDarkColor: #333333; //深黑色
$borderColor: #eeeeee; //表单边框元素
$pureBlackColor: #000000; //纯黑色
$shadowColor: #999999; //阴影颜色
$fontColor: #333333; //字体颜色
$waringColor: #F04134; //警告颜色
$amountColor: #F9572C; //金额颜色
$shadowBoxColor: rgba(0, 0, 0, .1);
$color-999: #999999;
$color-333: #333333;
$color-eee: #eeeeee;
$color-666: #666666;
$color-ddd: #dddddd;
$color-ccc: #cccccc;
$color-f5: #f5f5f5;
$color-fff: #ffffff;
$color-D0: #D0D0D0;
$color-f8: #f8f8f8;
@mixin center-block {
  margin-left: auto;
  margin-right: auto;
}

//参数冒号后面的值为默认值
@mixin Height($height:30px) {
  height: $height;
  line-height: $height;
}

/*采宝公共输入框样式*/
@mixin caibao-input($borderColor:$splitLineColor,$fontColor:$deepDarkColor) {
  padding-left: 10px;
  padding-right: 10px;
  color: $fontColor;
  border: $borderColor solid 1px;
}

@mixin default-input {
  padding-left: 10px;
  padding-right: 10px;
  color: $deepDarkColor;
  border: $splitLineColor solid 1px;
  display: block;
  @include Height(44px);
}

/*采宝公共按钮样式*/
@mixin caibao-button($btnColor:$logoDeepColor,$btnFontSize:16px,$btnFontColor:#ffffff) {
  text-align: center;
  border-radius: 2px;
  background-color: $btnColor;
  font-size: $btnFontSize;
  color: $btnFontColor;
  &:hover, &:focus {
    background-color: darken($logoDeepColor, 10%);
    color: white;
  }
}

@mixin caibao-input-placeholder($fontSize:16px) {
  color: $lightGrayColor;
  font-size: $fontSize;
}

/*采宝公共选择框列表样式*/
@mixin select-list-block {
  .select-list {
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 0 5px 2px #888888;
    display: none;
    .select-list-ul {
      position: relative;
      max-height: 400px;
      width: 100%;
    }
    .select-item {
      font-size: 16px;
      text-indent: 10px;
      @include Height(30px);
      color: $deepDarkColor;
      &:hover {
        background-color: $logoDeepColor;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

@mixin select-content {
  .select-input {
    border: $splitLineColor solid 1px;
    padding-left: 5px;
    &::-webkit-input-placeholder {
      font-size: 14px;
    }
    &:hover, &:focus {
      box-shadow: 0 0 2px 1px $logoDeepColor;
      border-color: $logoLightColor;
    }
  }
  @include select-list-block;
}

/*采宝公共模态框样式*/
@mixin caibao-modal($width: 450px,$height: 200px) {
  width: $width;
  height: $height;
  z-index: 1;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 0 5px 2px #888888;
}

/*采宝公共双按钮样式*/
@mixin btn-double-body {
  .btn-double-body {
    font-size: 0;
  }
  .cancel, .confirm {
    border-radius: 2px;
    display: inline-block;
    border-width: 1px;
    text-align: center;
  }
  .cancel {
    color: $logoLightColor;
    float: left;
    border: $logoLightColor solid 1px;
    &:hover {
      cursor: pointer;
      background-color: $logoLightColor;
      color: #ffffff;
    }
  }
  .confirm {
    float: right;
    color: #ffffff;
    background-color: $logoDeepColor;
    &:hover {
      cursor: pointer;
      background-color: darken($logoDeepColor, 10%);
    }
  }
}

@mixin important-btn {
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $logoDeepColor;
  color: #ffffff;
  text-align: center;
  &:hover:not(:disabled) {
    background-color: darken($logoDeepColor, 10%);
    color: #ffffff;
  }
  &:focus {
    color: #ffffff;
  }
  &:disabled {
    opacity: .5;
  }
  cursor: pointer;
}

@mixin less-important-btn {
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border: 1px solid $logoDeepColor;
  color: $logoDeepColor;
  text-align: center;
  &:hover:not(:disabled) {
    border: 1px solid darken($logoDeepColor, 10%);
    color: darken($logoDeepColor, 10%);
  }
  &:disabled {
    opacity: .5;
  }
  cursor: pointer;
}

@mixin default-btn {
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color: $fontColor;
  border: $splitLineColor solid 1px;
  &:hover {
    background-color: darken(white, 10%);
  }
}

@mixin disabled-btn {
  background-color: darkgray;
  &:hover {
    background-color: darkgray;
  }
}

@mixin btn-double-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  button + button {
    margin-left: 10px;
  }

  .cancel {
    @include less-important-btn;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }

  .ok {
    @include important-btn;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }


}

@mixin clear-fix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

@mixin center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

